/*Created by: Grace S
*Created on: Mar 2022
*This CSS file defines the style for more_js.html
*ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: #cda7ec;
}

h1 {
  background-color:#be95da;
  color: #b37ee7;
  padding: 40px;
  text-align: center;
}

p {
  border-style: solid;
  background-color: #f1b2f5;
  color: #c38fd6;
  border-color: #f2c1f5;
}

p {
  font-family:Monospace;
  font-size: 15px;
}